@model StudenteViewModel

<h1>@Model.ID - @Model.Nome @Model.Cognome</h1>
<p>nato il @Model.DataNascita</p>
<p>Titolo di studio: @Model.TitoloStudio</p>
<p>Email: @Model.Email</p>
<p>Corso: @Model.CorsoCodice</p>