@model List<StudenteViewModel>

<h1>Ecco la Lista degli Studenti</h1>

<a class="btn btn-primary" asp-controller="Studenti" asp-action="Create" type="button">Inserisci Nuovo Studente</a>
<table class="table table-hover table-bordered table table-striped">
    <thead>
        <tr>
            <th>Cognome</th>
            <th>Nome</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cognome</td>
                <td>@item.Nome</td>
                <th>
                    <a asp-controller="Studenti" asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Modifica</a>
                    <a asp-controller="Studenti" asp-action="Details" asp-route-id="@item.ID" class="btn btn-primary">Visualizza Dettagli</a>
                    <a asp-controller="Studenti" asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Elimina</a>
                </th>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Totale</th>
            <th>@Model.Count</th>
            <th></th>
        </tr>
    </tfoot>
</table>
